<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form_wrapper">
    <h1>Sign Up</h1>
    <mat-form-field appearance="fill">
      <mat-label>First name</mat-label>
      <input
        matInput
        type="text"
        name="firstname"
        formControlName="firstname"
      />
      <mat-error *ngIf="getControl('firstname').hasError('required')">
        First Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput type="text" name="lastname" formControlName="lastname" />
      <mat-error *ngIf="getControl('lastname').hasError('required')">
        Last Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input
        type="username"
        matInput
        formControlName="username"
        name="username"
        id="username"
        placeholder="Enter your username."
      />
      <mat-error *ngIf="getControl('username').hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        name="email"
        id="email"
        placeholder="Enter your email."
      />
      <mat-error
        *ngIf="
          getControl('email').hasError('email') &&
          !getControl('email').hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="getControl('email').hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Enter your password."
        formControlName="password"
        name="password"
        id="password"
      />
      <mat-error *ngIf="getControl('password').hasError('minlength')">
        Password must contain, at least,
        {{getControl('password').errors?.['minlength'].requiredLength}}
        characters.
      </mat-error>
      <mat-error *ngIf="getControl('password').hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Confirm password."
        formControlName="passwordConfirmation"
        name="passwordConfirmation"
      />
      <mat-error
        *ngIf="getControl('passwordConfirmation').hasError('minlength')"
      >
        Confirm password must contain, at least,
        {{getControl('passwordConfirmation').errors?.['minlength'].requiredLength}}
        characters.
      </mat-error>
      <mat-error
        *ngIf="getControl('passwordConfirmation').hasError('required')"
      >
        Confirm password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-error
      *ngIf="
        getControl('passwordConfirmation').touched &&
        form.hasError('notMatchingPasswords')
      "
    >
      Passwords <strong>don't</strong> match.
    </mat-error>
    <button mat-raised-button color="primary" [disabled]="!form.valid">
      Sign Up
    </button>
  </div>
</form>
<a routerLink="/login">
  <button mat-raised-button color="primary">Log in</button>
</a>
