:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  gap: 0.5rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  width: 100%;
  .form_wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 0 1rem;
    min-width: 50%;
  }
}

@media only screen and (max-width: 455px) {
  form {
    display: block;
  }
  .form_wrapper {
    min-width: 90%;
  }
}
