<mat-toolbar>
  <span>Home</span>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon fontIcon="home">
    </mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <span mat-menu-item [style.cursor]="'default'">{{userData?.name}}</span>
  <span mat-menu-item [style.cursor]="'default'">{{userData?.email}}</span>
  <button mat-menu-item (click)="logout()">
    <mat-icon  fontIcon="logout">Log out</mat-icon>
    <span>Log out</span>
  </button>
</mat-menu>
<section>
  <h1>Product list</h1>
  <div class="product_list">
    <mat-card class="product_card" *ngFor="let product of products?.products">
      <mat-card-title>
        {{product.name}}
      </mat-card-title>
      <mat-card-subtitle>
        $ {{product.price}}
      </mat-card-subtitle>
    </mat-card>
  </div>
</section>