.example-spacer {
  flex: 1 1 auto;
}

section {
  padding: 1rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .product_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 1rem;
    padding: 0.5rem 1rem;
    justify-items: center;
    .product_card {
      width: 200px;
    }
  }
}
