<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form_wrapper">
    <h1>Log In</h1>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input 
        type="email"
        matInput 
        formControlName="email" 
        name="email" 
        id="email"
        placeholder="Enter your email."
      >
      <mat-error *ngIf="getControl('email').hasError('email') && !getControl('email').hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="getControl('email').hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill"> 
      <mat-label>Password</mat-label>
      <input 
        matInput 
        type="password" 
        placeholder="Enter your password." 
        formControlName="password" 
        name="password" 
        id="password"
      >
      <mat-error *ngIf="getControl('password').hasError('minlength')" >
        Password must contain, at least, {{getControl('password').errors?.['minlength'].requiredLength}} characters.
      </mat-error>
      <mat-error *ngIf="getControl('password').hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="form.errors && !form.hasError('statusRequest')">
      Incorrect email or password.
    </mat-error>
    <button mat-raised-button color="primary" [disabled]="form.invalid">Login</button>
  </div>
</form>
<a routerLink="/signup" >
  <button mat-raised-button color="primary">Sign up</button>
</a>